<button mat-button (click)="isLinear = !isLinear">切换Linear状态</button>
<form [formGroup] = "surveyForm">
<mat-vertical-stepper >
    <mat-step formGroupName = "basicQuestions" >
        <ng-template matStepLabel>
            <u>个人资讯</u>
        </ng-template>
        <h4>提供个人资讯</h4>
        <mat-form-field> 
            <!-- mat-form-field 为input 或 textarea等元件加上更有意思的讯息 -->
            <input name="name" matInput placeholder="姓名" formControlName = "name" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext>下一步</button>
        </div>
    </mat-step>


    <mat-step editable = "false">
        <ng-template matStepLabel>
            <em>详细问题</em>
        </ng-template>
        <h4>提供详细问题</h4>
        <div>
            <button mat-button matStepperNext>下一步</button>
        </div>
        <div>
            <button mat-button matStepperPrevious>上一步</button>
        </div>
    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>
            <u>其他</u>
        </ng-template>
        <h4>提供其他资讯</h4>
        <div>
            <button mat-button matStepperPrevious>上一步</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
</form>

<div>
    <mat-form-field>
        <input type="text" name="nickname" matInput placeholder="名称">

    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <textarea name="intro_self" matInput placeholder="自我介绍"></textarea>
    </mat-form-field>
</div>
<div>
    <h4>输入一个日期</h4>
    <mat-form-field>
        <input type="date" name="birthday" matInput placeholder="生日">
    </mat-form-field>
</div>
<div>
<!-- <mat-form-field>
        <textarea name="intro_self" matInput placeholder="自我介紹" formControlName="intro" required></textarea>
        <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
        <mat-error *ngIf="surveyForm.get('basicQuestions').get('intro').hasError('required')">請記得輸入自我介紹喔！</mat-error>
        <mat-error *ngIf="surveyForm.get('basicQuestions').get('intro').hasError('minlength')">至少輸入10個字吧！</mat-error>
</mat-form-field>
</div> -->

<mat-form-field>
    <textarea name="intro_self" matInput placeholder="自我介紹" required></textarea>
    <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
    <mat-error>请记得输入</mat-error>
  </mat-form-field>
  
