<mat-card class="card">
  <h3 >评论</h3>
<form (ngSubmit)="onSubmit()" >
<mat-form-field appearance="outline" >
  <mat-label>请输入你的姓名</mat-label>
  <input matInput placeholder="name" [formControl]="name">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="name.hasError('required')">
    姓名不能为空
  </mat-error>
</mat-form-field>
</form>

  
<form class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" >
    <input matInput placeholder="例如，xxxx@gmail.com" [formControl]="emailFormControl"
            [errorStateMatcher]="matcher" >
    <mat-label>请输入你的邮箱</mat-label>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      请输入<strong>正确的</strong>邮箱地址！
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      邮箱不能为 <strong>空</strong>
    </mat-error>
  </mat-form-field>
</form>

<form class="example-container" (ngSubmit)="onSubmit()">
    <mat-form-field hintLabel="评论最大不超过100个字">
      <input  matInput #input maxlength="100" placeholder="写下你的想法" [formControl]="comment">
      <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
      <mat-error *ngIf="comment.hasError('required')">
      评论不能为空</mat-error>
      <mat-error *ngIf="comment.hasError('maxLength')">
        评论字数已经达到上限
      </mat-error>
    </mat-form-field>
</form>
<button mat-stroked-button color="warn" type="submit" (click)="onSubmit()" class="button" >发表评论</button>
</mat-card>

<mat-card class="card"*ngFor="let com of comments">
  <mat-card-title>{{com.name}}</mat-card-title>
  <mat-card-subtitle>{{com.email}}</mat-card-subtitle>
  <mat-card-content>{{com.content}}</mat-card-content>
  <mat-card-footer class="fontsize" >
      你所说的话不一定正确，但我誓死扞卫你说话的权利。What you said is not necessarily correct, but I swear to defend your right to speak.  
  </mat-card-footer>
</mat-card>