<mat-card class="example-card1">
    <mat-card-header>
      <mat-card-title>{{homepage[0].title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[0].img}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{homepage[0].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages1']">Learn More ···</a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card2">
    <mat-card-header>
      <mat-card-title>{{homepage[1].title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[1].img}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{homepage[1].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages2']">Learn More ···</a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card3">
    <mat-card-header>
      <mat-card-title>{{homepage[2].title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[2].img}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{homepage[2].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages3']">Learn More ···</a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card4">
    <mat-card-header >
      <mat-card-title >{{homepage[3].title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[3].img}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{homepage[3].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages4']">Learn More ···</a>
    </mat-card-actions>
  </mat-card>
 