<mat-card class="example-card1">
    <mat-card-header>
      <mat-card-title class="title"><strong>{{homepage[0].title}}</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[0].img}} alt="主页图片">
    <mat-card-content>
      <p>
       {{homepage[0].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages1']" class="learnmore" >Learn More ···
        <mat-icon aria-label="喜欢就了解一下">favorite</mat-icon>
      </a>

    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card2">
    <mat-card-header>
      <mat-card-title class="title"><strong>{{homepage[1].title}}</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[1].img}} alt="主页图片">
    <mat-card-content>
      <p>
        {{homepage[1].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages2']" class="learnmore">Learn More ···
        <mat-icon aria-label="喜欢就了解一下">favorite</mat-icon></a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card3">
    <mat-card-header>
      <mat-card-title><strong>{{homepage[2].title}}</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[2].img}} alt="主页图片">
    <mat-card-content>
      <p>
        {{homepage[2].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages3']" class="learnmore">Learn More ···<mat-icon aria-label="喜欢就了解一下">favorite</mat-icon></a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card4">
    <mat-card-header >
      <mat-card-title ><strong>{{homepage[3].title}}</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{homepage[3].img}} alt="主页图片">
    <mat-card-content>
      <p>
        {{homepage[3].des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/subpages4']" class="learnmore">Learn More ···<mat-icon aria-label="喜欢就了解一下">favorite</mat-icon></a>
    </mat-card-actions>
  </mat-card>
 