.demo-app-header {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  
.demo-app-container,
.demo-app-sidenav {
    position: fixed;
    padding-top: 64px;
    height: calc(150vh - 64px);
  }

.toolbar-seprator{
    flex:1 1 auto;
  }

mat-sidenav {
    width: 200px;
  }